<!DOCTYPE html>
{#<html lang="en-us" >#}
<html>
<head>
    <title>Change pipeline | Django site admin</title>
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/static/admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/static/admin/css/forms.css" />
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->
    <script type="text/javascript">window.__admin_media_prefix__ = "http://127.0.0.1:8000/static/admin/";</script>
    <script type="text/javascript">window.__admin_utc_offset__ = "32400";</script>
    <script type="text/javascript" src="http://127.0.0.1:8000/admin/jsi18n/"></script>
    <script type="text/javascript" src="http://127.0.0.1:8000/static/admin/js/core.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8000/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8000/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8000/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8000/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8000/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8000/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8000/static/admin/js/vendor/xregexp/xregexp.min.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8000/static/admin/js/calendar.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8000/static/admin/js/admin/DateTimeShortcuts.js"></script>

    <meta name="robots" content="NONE,NOARCHIVE" />
    <div class="submit-row">
        <input type="submit" value="Logout" class="default" name="_logout" />
    </div>
</head>

<body class=" app-pipeline model-pipeline change-form"
  data-admin-utc-offset="32400">
<!-- Container -->
<div id="container">

    <!-- Content -->
    <div id="content" class="colM">
        <h1>Change pipeline</h1>
        <div id="content-main">

            <!-- url 'pipeline:submit' -->
            <form class="post-form" enctype="multipart/form-data" action="/pipeline/data_modify_save/{{ pipeline.project_code_text.value }}/" method="post" id="pipeline_form" novalidate>{% csrf_token %}
                <div>
                    <fieldset class="module aligned ">
                        <div class="form-row field-project_code_text">
                            <div>
                                <label class="required" for="project_code_text">Project code:</label>
                                <input class="vTextField" id="project_code_text" maxlength="200" name="project_code_text" type="text" value="{{ pipeline.project_code_text.value }}" />
                            </div>
                        </div>
                        <div class="form-row field-project_name">
                            <div>
                                <label class="required" for="id_project_name">Project name:</label>
                                <input class="vTextField" id="id_project_name" maxlength="200" name="project_name" type="text" value="{{ pipeline.project_name.value }}" />
                            </div>
                        </div>
                        <div class="form-row field-start_date">
                                <label class="required" for="id_start_date">Start_date:</label>
                                <input class="vDateField" id="id_start_date" name="start_date" size="10" type="text" value="{{ pipeline.start_date.value|date:"Y-m-d" }}" />
                        </div>
                        <div class="form-row field-end_date">
                            <div>
                                <label class="required" for="id_end_date">End_date:</label>
                                <input class="vDateField" id="id_end_date" name="end_date" size="10" type="text" value="{{ pipeline.end_date.value|date:"Y-m-d" }}" />
                            </div>
                        </div>
                        <div class="form-row field-project_leader">
                            <div>
                                <label class="required" for="id_project_leader">Project leader:</label>
                                <input class="vTextField" id="id_project_leader" maxlength="200" name="project_leader" type="text" value="{{ pipeline.project_leader.value }}" />
                            </div>
                        </div>
                        <div class="form-row field-project_staffing">
                            <div>
                                <label class="required" for="id_project_staffing">Project staffing:</label>
                                <input class="vTextField" id="id_project_staffing" maxlength="200" name="project_staffing" type="text" value="{{ pipeline.project_staffing.value }}" />
                            </div>
                        </div>
                        <div class="form-row field-project_status">
                            <div>
                                <label class="required" for="id_project_status">Project status:</label>
                                <input class="vTextField" id="id_project_status" maxlength="200" name="project_status" type="text" value="{{ pipeline.project_status.value }}" />
                            </div>
                        </div>
                        <div class="form-row field-project_team">
                            <div>
                                <label class="required" for="id_project_team">Project team:</label>
                                <input class="vTextField" id="id_project_team" maxlength="200" name="project_team" type="text" value="{{ pipeline.project_team.value }}" />
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="submit-row">
                    <input type="submit" value="Save" class="default" name="_save" />
                </div>

                <script type="text/javascript">
                    (function($) {
                        var field;
                    })(django.jQuery);
                </script>
                {{ form.errors }} {{ form.non_field_errors }}
            </form>
        </div>
    </div>
    <br class="clear" />
</div>
<!-- END Content -->
<div id="footer"></div></div>
<!-- END Container -->
</body>
</html>